$col1: #e5cb90;
$col2: #dbb561;
$col3: #5dab7c;
$col4: #4c3800;
$col5: #bb6b62;

@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto+Condensed&display=swap');
$logo-font: 'Lobster', cursive;
$body-font: 'Roboto Condensed', sans-serif;


.border{
    border: 5px solid red;
}