#events{
    background-color: $col2;
    font-family: $body-font;
    color: black;
    .event-tile{
        border: 1px solid $col4;
        background-color: $col1;
        padding: 1rem 0rem;
        transition: all .5s ease-in-out;
        &:hover{
            background-color: $col5;
            color: white;
            cursor: pointer;
        }
        h2{
            font-family: $logo-font;
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: green;
            display: none;
        }
    }
}